.image {
  background-image: url('./../../../assets/picture_registration.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imageDark {
  filter: invert(1);
}
